.box{
    width: 200px;
    height: 120px;
  background-color: white;
  border-radius: 6px;
 margin-top:30px ;
 padding: 1.5%;
}

.box li{
    list-style: none;

}
.taskbox{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
   gap: 6%;
    background-color: rgb(241, 241, 241);
      border-radius: 10px;
    padding-left: 70px;
    padding-bottom:90px ;
    margin-left: 120px;
    margin-right: 120px;
    
}


.deleteimg{
    width: 13px;
   height: 13px;
  
}
.time{
    padding: 0%;
    font-size: small;
}
.todo-empty{
    margin-left: 285px;
    font-size: large;
    color: rgb(90, 90, 90);
}
.empty{
    margin-left: 250px;
    height: 120%;
}
.todo-heading{
    padding: 0%;
    margin: 0%;
    color: white;
    text-decoration: underline;
    margin-left: 60px;
}
.todo{
    padding: 3%;
   padding-left: 20%;
    border: none;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
}
.add-todo{
    border: none;
    background-color:rgb(241, 241, 241);
    padding: 0.5%;
    width: 140px;
    height: 40px;
    font-size: large;
    border-radius: 3px;
    margin-left: 20px;
    margin-top: 10px;
}
.activitises{
    padding: 0%;
    margin: 0%;
    margin-top: 6px;
}
.title{
    display: flex;
    justify-content: space-between;
   font-family: sans-serif;
   margin-left: 20px;
   margin-right: 20px;
}
.task-box{
    display: flex;
    justify-content: space-between;
}
.todo-fome{
    position: absolute;
    
    display: flex;
    flex-direction: column;
    left: 40%;
    gap: 20px;
    background-color: rgb(104, 101, 101);
  
    padding: 2%;
    border-radius: 10px;
}
.fome-bg{
    background-color: aqua;
   
   
}
.submit
{
    background-color: rgb(245, 244, 244);
    border: none;
    padding: 2%;
    border-radius: 5px;
    font-size: large;
    

}
.delete-fome{
    height: 13px;
    width: 13px;
  
   border: none;
   
   position: absolute;
   right: 7px;
   bottom: 92%;
 
}